.svn
wpcom-helper.php
.DS_Store

/package/*
!/package/.gitkeep

/tmp/*
!/tmp/.gitkeep

/src/vendor/*
!/src/vendor/autoload.php
!/src/vendor/composer

# Exceptions for vendor libraries
!/src/vendor/asm89
/src/vendor/asm89/*
!/src/vendor/asm89/twig-cache-extension
/src/vendor/asm89/twig-cache-extension/*
!/src/vendor/asm89/twig-cache-extension/lib/

!/src/vendor/altorouter
/src/vendor/altorouter/*
!/src/vendor/altorouter/altorouter
/src/vendor/altorouter/altorouter/*
!/src/vendor/altorouter/altorouter/AltoRouter.php

!/src/vendor/pimple
/src/vendor/pimple/*
!/src/vendor/pimple/pimple
/src/vendor/pimple/pimple/*
!/src/vendor/pimple/pimple/src
/src/vendor/pimple/pimple/src/*
!/src/vendor/pimple/pimple/src/Pimple

!/src/vendor/timber
/src/vendor/timber/*
!/src/vendor/timber/timber
/src/vendor/timber/timber/*
!/src/vendor/timber/timber/lib

!/src/vendor/twig
/src/vendor/twig/*
!/src/vendor/twig/twig
/src/vendor/twig/twig/*
!/src/vendor/twig/twig/lib

!/src/vendor/upstatement
/src/vendor/upstatement/*
!/src/vendor/upstatement/routes
/src/vendor/upstatement/routes/*
!/src/vendor/upstatement/routes/Routes.php

tests/_output/*
tests/_output/*
/src/vendor/composer/composer/tests
/src/vendor/composer/ca-bundle
/src/vendor/composer/composer
